.footer {
  position: relative;
  background: url("../../components/common/Images/footer.jpg") no-repeat center/cover;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
}

.footer-overlay {
  padding: 50px 10%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-brand {
  flex: 1.3;
  min-width: 250px;
}

.footer-logo {
  font-size: 26px;
  margin-bottom: 15px;
  color: #fff;
}
.footer-logo .highlight {
  color: #22e282;
}

.footer-brand p {
  font-size: 15px;
  color: #ed7e10;
  line-height: 1.6;
  margin-bottom: 25px;
}



.footer-links {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 600;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-column ul li {
  color: #ccc;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s;
}
.footer-column ul li:hover {
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin: 10px 0 20px;
}
.social-icons svg {
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s;
}
.social-icons svg:hover {
  color: #fff;
}

.app-links img {
  display: block;
  width: 140px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  color: #bbb;
  margin-top: 10px;
  margin-bottom : 0px;
  padding-bottom: 10px;
}
.call-button {
  display: inline-block;
  background: #ff3b3b;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.call-button:hover {
  background: #ff5e5e;
  transform: translateY(-2px);
}
.call-popup {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  bottom: 20%;
  transform: translateY(10px);
  z-index: 10;
  animation: fadeIn 0.3s ease;
}

.call-popup p {
  font-size: 14px;
  color: #ddd;
  margin: 0;
}

.call-popup h3 {
  font-size: 20px;
  color: #ffcc00;
  margin: 10px 0;
}

.close-popup {
  background: transparent;
  border: 1px solid #ff3b3b;
  color: #ff3b3b;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.close-popup:hover {
  background: #ff3b3b;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}


